SOURCE_VOLUME_PATH=C:/Users/yourusername/Downloads
SAVES_VOLUME_PATH=C:/Users/yourusername/AppData/Local/FactoryGame/Saved/SaveGames/your-steam-id
BLUEPRINTS_VOLUME_PATH=C:/Users/yourusername/AppData/Local/FactoryGame/Saved/SaveGames/blueprints/your-username
